[Unit]
Description=Airflow
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=rory
ExecStart=/bin/bash -c ". /home/rory/dev/airflow/venv/bin/activate airflow standalone "
[Install]
WantedBy=multi-user.target
