[Unit]
Description=Dtale
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=rory
ExecStart=/home/rory/dev/airflow/venv/bin/dtale --arcticdb-uri lmdb:///home/rory/dev/airflow/test/arctic.db --arcticdb-use_store --no-cell-edits --no-reaper --hide-shutdown
[Install]
WantedBy=multi-user.target
