[Unit]
Description=Jupyter
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=rory
ExecStart=/home/rory/dev/airflow/venv/bin/jupyter notebook --no-browser /home/rory/dev/airflow/notebooks/
[Install]
WantedBy=multi-user.target
